body {
    margin: 0;
    padding: 0;
}
.margin {
    max-width: 1500px;
    margin: 0 auto;
}
#myCanvas {
    width: 100% !important;
    height: auto !important;
}
#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 220px;
    padding: 10px 0 10px 0;
}
#title {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    font-size: 1vw;
}
#logo {
    width: 180px;
    padding: 0 20px 0 20px;
}
#main-header .search-bar {
    align-items: center;
    padding: 20px;
}
#main-header .search-bar button {
    border: none;
    height: auto;
}
#menu-items {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding: 0 40px 0 40px;
}
.item {
    padding-right: 15px;
    padding-left: 15px;
}
@media (max-width: 1200px) {
    .item {
        font-size: 3vw;
    }
    #logo {
        width: 10vw;
    }
    #title {
        font-size: 1vw;
    }
    #main-header {
        justify-content: center;
        flex-direction: column;
    }
    #info {
        text-align: center;
    }
}
@media (max-width: 600px) {
    .item {
        font-size: 4vw;
    }
    #title {
        font-size: 2vw;
    }
}
#video {
    width: 100%;
}
#design-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px 0 20px 0;
}
@media (max-width: 1200px) {
    #design-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
#design-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: rgb(222, 222, 222);
    font-size: 18px;
}
@media (max-width: 1200px) {
    #design-cards .card {
        width: 80%;
    }
}
#design-cards .card .card-title {
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 13px;
    padding: 0;
    margin: 0;
}
#design-cards .card .choice {
    display: grid;
    grid-template-columns: 200px auto 70px;
    width: 90%;
    align-items: center;
}
}
#design-cards .card .choice .toggle-btn {
    background-color: #ffffff;
    border: solid 1px black;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.5s, transform 0.5s;
}
#design-cards .card .choice .toggle-btn.pressed {
    background-color: #000000;
}
#design-cards .card .choice .toggle-price {
    display: none;
    text-align: center;
}
#design-cards .card .choice .toggle-price.update {
    display: block;
}
#info {
    font-size: 1vw;
    margin-left: 25px;
}
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: solid 2px rgb(49, 49, 49);
}