body {
    margin: 0;
    padding: 0;
}
.margin {
    max-width: 1600px;
    margin: 0 auto;
}
#myCanvas {
    width: 100% !important;
    height: auto !important;
}
#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 16%;
    max-height: 120px;
}
#title {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    font-size: 1vw;
}
#logo {
    width: 180px;
    padding: 0 20px 0 20px;
}
#menu-items {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding: 0 40px 0 40px;
}
.item {
    padding-right: 15px;
    padding-left: 15px;
}
@media (max-width: 1200px) {
    .item {
        font-size: 3vw;
    }
    #logo {
        width: 10vw;
    }
    #title {
        font-size: 1vw;
    }
    #main-header {
        height: 10%;
        justify-content: center;
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .item {
        font-size: 4vw;
    }
    #title {
        font-size: 2vw;
    }
}
#video {
    width: 100%;
}
#info {
#design-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(180, 180, 180, 0.64);
    padding: 20px;
}
#design-cards .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    margin-left: 20px;
}
#design-cards .card .choice {
    display: grid;
    grid-template-columns: 200px auto 1fr;
}
#design-cards .card .choice .toggle-btn {
    background-color: #ffffff;
    border: solid 1px black;
    padding: 30px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.5s, transform 0.5s;
}
#design-cards .card .choice .toggle-btn.pressed {
    background-color: #000000;
}
    text-align: center;
}
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: solid 2px rgb(49, 49, 49);
}